
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  overflow-x: hidden; 
  background-image: url('./components/image-body.png');
  background-repeat: no-repeat;
  background-color: #f5f2f0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-item > .active {
  
  color: rgb(223, 104, 58) !important;
}
#section1{
  text-align: center;
  min-height: 100px;
}
#section2{
  text-align: center;
  min-height: 100px;
  
}
#section3{

  margin-top: 80px;
  text-align: center;
  min-height: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}
#section3 h1{
  font-family: Condensed,sans-serif;;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
  color: #212529;

    letter-spacing: 3px;
   
}


.nav {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);

}
.nav-item a{
  color: rgba(255, 255, 255, 0.671) !important;
  font-size: 24px;

}
.nav-item a:hover{
  color: rgb(223, 104, 58) !important; 
}
.nav-items{
  margin: 0 auto;
  display: flex;
 
  margin-right: 100px;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}
.intro{
  margin: 150px 0;
  text-align: center;
}
.intro h3{
  color: #94A3BA; 
  margin: 20px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.intro h1{
  color: white;
  letter-spacing: 5px;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

#section3 a{
  font-size: 36px;
  color: #183153;
  text-decoration: none;
}
#section3 a:hover{
  font-size: 36px;
  color: white;
  text-decoration: none;
}
.dot img{

  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto
}
.bar{
  background-color: #212529;
  margin: 10px auto;
  height: 2px;
  width: 120px;
  margin-bottom: 30px;
}
#section2{
  border-bottom: 1px solid rgba(0,0,0,.1);
 
  
}
#section3{
  border-bottom: 1px solid rgba(0,0,0,.1);
 
  
}
#section1{
  margin-top: 150px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 50px;

}
#section2 h1{
  color: #212529;
  margin-top: 50px;
  letter-spacing: 3px;
  
}
#section2 h3{
  font-family: Condensed,sans-serif;;
  margin: 30px 0 20px 0;
  color: #a9a9a9;
}
#section5 h1{
  text-align: center;
}
.skills{
  margin-left: 80px;
  
}
.skills img{
  margin-right: 10px;
  margin-bottom: 100px;
  
}
.edu{
  display: flex;
  justify-content: space-between;
}
#section5{
  margin-bottom: 100px;
  padding-bottom: 90px;
}
.edu h3{
  text-transform: uppercase;
  font-size: 16px;
  font-family:Saira Extra Condensed,sans-serif;
  margin: 20px 0 10px 30px;
  color: #212529;
}
.edu p{
  font-size: 16px;
  font-family: Muli,sans-serif;
  font-weight: 400;
  margin-left: 30px;
  letter-spacing: 1px;
}
.edu h4{
  color: rgb(189, 93, 56);
  font-size: 18px;
  margin-top: 20px;
}
.contact{

}
.title{
  text-align: left;
}
.title h3{
  color: #a9a9a9;
  font-size: 1.5rem;
}
.contact-left{
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;

  background-color: #183153;
  height: 450px;
}

.contact-right{
  width: 100%;

  background-color: #94A3BA;
  height: 450px;
}
.left-item{
  
  padding-left: 80px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  
}
.left-item h3{
  width: 100px;
  font-size: 18px;
  color: white;
  margin: 15px 30px;
  float: left;
}

.left-item p{
  width: 100%;
  font-size: 18px;
  color: white;
  margin: 20px 30px;
  float: left;
  font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
}
.contact-left h1{
  text-align: center;
  color: white;
}
.contact-right h1{
  padding-top: 75px;
  text-align: center;
}
.input{
  margin-left: 50px;
  display: flex;
 justify-content: center;
}
.input input{
  border-radius: 20px;
  height: 40px;
  border: none;
  padding-left: 15px;
  margin-top: 10px;
  width: 220px;
  margin-right: 50px;
}
.button-submit{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button-submit button{
  width: 150px;
  background-color: white;
  color: #183153;
  border-radius: 20px;
}
.button-submit button:hover{
  background-color: #183153;
}
.icon {
  margin: 0 auto;
  width: 30%;
  display: flex;
}
.icon a{
  font-size: 38px;
  color: white  ;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.icon a:hover{
  color: #94A3BA;
}
.toggle{
  position: fixed;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  z-index: 1;
}
.toggle:before{
  content: '+';
  position: absolute;
  top:0;
  left: 0;
  font-size: 50px;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #000;
  font-weight: bold;
  transition: 0.5s;
}
.toggle.active:before{
  transform: rotate(405deg);
  background: #ffeb3b;
  color: #000;

}
.overlay{
  position: fixed;
  border-radius: 50%;
  background: rgb(0,0,0,.95);
  transition: transform(0.5s);
}
.overlay.active{
  transform: scale(100,100);
}